<br>
<br>
<br>
<br>
<p class="nede">
  <%= image_tag("nede.png") %>
</p>
<br>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p>
    <%= f.input :email, required: false, autofocus: true %>
  </p>
  <p>
    <%= f.input :password, required: false %>
  </p>
  <p>
    <%= f.button :submit, "Log in" %>
  </p>
<% end %>

<p>
  <%= render "devise/shared/links" %>
</p>