  <h1>MYPAGE</h1>
  <br>

  <a href="">내가 쓴 글</a>  
  <a href="">관심있는 대타</a>
  <a href="">쪽지함</a>
  
  <table>
  <tr>
    <th>넘버</th>
    <th>지역</th> 
    <th>날짜</th>
    <th>시작시간</th></th>
    <th>종료시간</th>
    <th>시급</th>
    <th>경력여부</th>
    <th>상호명</th>
  </tr>
  
  <% @post.each do |p|%>
  <tr>
    <td><%= p.local %></td>
    <td><%= p.date %></td>
    <td><%= p.time.try(:strftime, "%p %I시 %M분") %></td>
    <td><%= p.time2.try(:strftime, "%p %I시 %M분") %></td>
    <td><%= p.money %></td>
    <td><%= p.work %></td>
    <td><%= p.title %></td>
  </tr>
  <% end%>
  </table>
  
  
  
  
  

